.main-section-wrap {
  display: flex;
  height: 100%;
  @media (max-width: 768px) {
    position: relative;
    flex-direction: row;
  }
  @media (max-width: 640px) {
    flex-direction: column;
  }
  .content-container {
    flex-grow: 1;
  }
  .welcome-container {
    height: inherit;
    flex-grow: 1;
  }
}
