@import "../../variables";
@import "../../mixin";
.tab-bar-wrap {
  @include drawBorder($bottom: "true", $bcolor: $borderDarkMode);
  @include drawBorder($top: "true", $bcolor: $borderDarkMode);
  display: flex;
  .active-tab-container {
    color: white;
    background-color: $hightLightDarkMode;
    transition: all 0.4s;
  }
  .tab-container {
    @include drawBorder($right: "true", $bcolor: $borderDarkMode);
    padding: 0.4rem 1rem 0.4rem 0.6rem;
    min-width: 10rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.4s;
    @media (max-width: 768px) {
      gap: 0.2rem;
    }
    .close-mark {
      visibility: hidden;
      min-width: 1.5rem;
      text-align: center;
      color: white;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
      &:hover {
        border-radius: 0.4rem;
        background-color: rgba($color: $textDarkMode, $alpha: 0.8);
      }
    }
    &:not(:hover) > .close-mark {
      @include fade-out();
    }
    &:hover > .close-mark {
      visibility: visible;
      @include fade-in();
    }
  }
}
