@import "../../mixin";
@import "../../variables";
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  &__submit {
    width: 100%;
    height: 100%;
    @include drawBorder($right: "true", $bcolor: $borderDarkMode);
    display: flex;
    align-items: center;
    justify-content: center;
    .form-submit {
      width: 85%;
      height: 80%;
      @include fade-in();
      &__label {
        display: block;
        margin-bottom: 0.5rem;
      }

      &__input {
        width: 100%;
        height: 4rem;
        border-radius: 0.4rem;
        border: 0.2rem solid $bgContent;
        background-color: $bgDarkMode;
        color: $hightLightDarkMode;
        padding-left: 1rem;
        font-size: 1.8rem;
        // margin-bottom: 2.5rem;
        transition: all 0.4s;
        &:focus-visible,
        &:hover {
          outline: none;
          border: 0.2rem solid $textDarkMode;
        }
      }
      &__error {
        color: #ff000f;
        height: 3.5rem;
        line-height: 3.5rem;
      }
      &__error-text {
        font-size: 1.3rem;
        vertical-align: middle;
        color: #ff000f;
      }

      &__textarea {
        width: 100%;
        height: 20rem;
        resize: none;
        border-radius: 0.4rem;
        border: 0.2rem solid $bgContent;
        background-color: $bgDarkMode;
        color: $hightLightDarkMode;
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 1.8rem;
        transition: all 0.4s;
        &:focus-visible,
        &:hover {
          outline: none;
          border: 0.2rem solid $textDarkMode;
        }
      }

      &__btn {
        width: 100%;
        display: flex;
        justify-content: end;
      }
      &__btn-text {
        height: 6rem;
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $commentText;
        border-radius: 0.4rem;
        background-color: $bgContent;
        transition: all 0.4s;
        &:hover {
          color: #fff;
          background-color: $hightLightDarkMode;
        }
      }
    }
    .email-noti {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      padding: 0 5rem;
      @include fade-in();
      &-title {
        font-size: 2.3rem;
        font-weight: 500;
        color: #fff;
      }
      &-message {
        margin-bottom: 3rem;
      }
      &-btn {
        background-color: $textDarkMode;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          background-color: $hightLightDarkMode;
        }
      }
    }
  }
  &__preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    @include fade-in();
    pre {
      width: 100%;
      height: 80%;
      margin: 0 auto;
    }
    .preview-code {
      width: 100%;
      height: 100%;
      white-space: pre-wrap;
      word-break: break-all;
      overflow-x: hidden;
      background-color: $bgDarkMode;
      font-size: 2rem;
      text-align: left;
    }
  }
}
