@import "../../variables";
@import "../../mixin";
.header-wrap {
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $hightLightDarkMode;
  @include drawBorder($bottom: "true", $bcolor: $borderDarkMode);
  .header-name {
    @include slide-in($top: "true");
  }
  .header-contact {
    height: 2rem;
    @include slide-in($top: "true");
    transition: all 0.2s;
    &:hover {
      color: #fff;
    }
    &-icon {
      vertical-align: middle;
    }
    // vertical-align: middle;
  }
}
