@import '../../variables';
@import '../../mixin';
.header-wrap {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $hightLightDarkMode;
  @include drawBorder($bottom: 'true', $bcolor: $borderDarkMode);
}
