@import "../../mixin";
@import "../../variables";

.activity-bar-wrap {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  @include drawBorder($right: "true", $bcolor: $borderDarkMode);
  .icon-element {
    font-size: 2.5rem;
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    position: relative;
    .icon-element-active {
      color: #ffffffab;
    }
    .active-icon {
      position: absolute;
      height: 100%;
      border-left: 2px solid #ffffffab;
      top: 0;
      left: -2px;
    }
    &:hover {
      color: #ffffffab;
    }
  }
}
