@mixin drawBorder(
  $top: "",
  $left: "",
  $right: "",
  $bottom: "",
  $bcolor: red,
  $brwidth: 2px,
  $style: solid
) {
  @if $top == "true" {
    border-top: $brwidth $style $bcolor;
  }
  @if $left == "true" {
    border-left: $brwidth $style $bcolor;
  }
  @if $bottom == "true" {
    border-bottom: $brwidth $style $bcolor;
  }
  @if $right == "true" {
    border-right: $brwidth $style $bcolor;
  }
}

@mixin zoom-in() {
  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  transition: all 0.4s;
  animation: fade-in 0.4s;
}

@mixin fade-in() {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  transition: all 0.4s;
  animation: fade-in 0.4s;
}

@mixin fade-out() {
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  transition: all 0.4s;
  animation: fade-out 0.4s;
}

@mixin expand() {
  @keyframes expand {
    0% {
      width: 0%;
      min-width: 0%;
    }
    100% {
      width: 20%;
      min-width: 20%;
    }
  }
  transition: all 0.4s;
  animation: expand 0.4s;
}
@mixin expandOnMobile() {
  @keyframes expand {
    0% {
      width: 0%;
      min-width: 0%;
    }
    100% {
      width: 30%;
      min-width: 30%;
    }
  }
  transition: all 0.4s;
  animation: expand 0.4s;
}
@mixin expandOnSmall() {
  @keyframes expand {
    0% {
      width: 0%;
      min-width: 0%;
    }
    100% {
      width: 100%;
      min-width: 100%;
    }
  }
  transition: all 0.4s;
  animation: expand 0.4s;
}

@mixin collapse() {
  @keyframes collapse {
    0% {
      width: 20%;
      min-width: 20%;
      @include drawBorder($right: "true", $bcolor: $borderDarkMode);
    }

    80% {
      @include drawBorder($right: "true", $bcolor: $borderDarkMode);
    }
    100% {
      width: 0%;
      min-width: 0%;
      display: none;
      @include drawBorder($right: "", $bcolor: $borderDarkMode);
    }
  }
  transition: all 0.4s;
  animation: collapse 0.4s;
}

@mixin slide-in(
  $top: "",
  $left: "",
  $right: "",
  $bottom: "",
  $time: 0.4s,
  $range: -50px
) {
  @if $top == "true" {
    @keyframes slide-from-top {
      0% {
        opacity: 0;
        transform: translateY($range);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    transition: all 0.4s;
    animation: slide-from-top $time;
  }
  @if $left == "true" {
    @keyframes slide-from-left {
      0% {
        opacity: 0;
        transform: translateX($range);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    transition: all 0.4s;
    animation: slide-from-left $time;
  }
  @if $bottom == "true" {
    @keyframes slide-from-bottom {
      0% {
        opacity: 0;
        transform: translateY($range);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    transition: all 0.4s;
    animation: slide-from-bottom $time;
  }
  @if $right == "true" {
    @keyframes slide-from-right {
      0% {
        opacity: 0;
        transform: translateX($range);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    transition: all 0.4s;
    animation: slide-from-right $time;
  }
}
