$bgDarkMode: #030637;
$borderDarkMode: #3c0753;
$textDarkMode: #720455;
$hightLightDarkMode: #d51799;
$bgLightMode: #b799ff;
$borderLightMode: #acbcff;
$textLightMode: #aee2ff;
$hightLightLightMode: #e6fffd;
$commentText: #9da1a1;
