// $bgDarkMode: #030637;
// $bgContent: #0f0b4b;
// $borderDarkMode: #3c0753;
// $textDarkMode: #720455;
// $hightLightDarkMode: #d51799;
// $bgLightMode: #b799ff;
// $borderLightMode: #acbcff;
// $textLightMode: #aee2ff;
// $hightLightLightMode: #e6fffd;
// $commentText: #9da1a1;
// $bgButton: #9290c3b6;
// $bgButtonHovered: #9290c3;
$bgDarkMode: #100241;
$bgContent: #00337c;
$borderDarkMode: #00337c;
$textDarkMode: #1c82ad;
$hightLightDarkMode: #03c988;
$bgLightMode: #b799ff;
$borderLightMode: #acbcff;
$textLightMode: #aee2ff;
$hightLightLightMode: #e6fffd;
$commentText: #9da1a1;
$bgButton: #9290c3b6;
$bgButtonHovered: #9290c3;
