@import "variables";
@import "mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bgDarkMode;
  @include drawBorder(
    $top: "true",
    $left: "true",
    $right: "true",
    $bottom: "true",
    $bcolor: $borderDarkMode
  );
  font-size: 1.6rem;
  color: $textDarkMode;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100dvh;
  width: 100%;
}

#root {
  height: 100%;
}
