@import "variables";
@import "mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bgDarkMode;
  @include drawBorder($left: "true", $right: "true", $bcolor: $borderDarkMode);
  font-size: 1.6rem;
  color: $textDarkMode;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100dvh;
  width: 100%;
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $textDarkMode;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $bgContent;
  }
}

button {
  all: unset;
}
a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100vh;
}
