@import "../../variables";
.content-section-container {
  height: 100%;

  .content-section-wrap {
    height: calc(100vh - 11rem);
    overflow-y: auto;
    min-width: 100%;
  }
  .tab-bar-section {
    height: 3.2rem;
    width: 100%;
    @media (max-width: 640px) {
      // overflow-x: scroll;
      height: 5rem;
      scrollbar-width: none;
    }
  }
}
