.introdution {
  width: 50%;
  font-size: 2.2rem;
  text-align: left;
}
.my-life-obj {
  width: 50%;
  align-self: self-start;
  text-align: center;
  & > img {
    max-height: 55.5rem;

    border-radius: 0.4rem;
    object-fit: fill;
  }
}
