@import "../../variables";
@import "../../mixin";

.folder-structure-wrap {
}

.folder-expand {
  width: 20%;
  min-width: 20%;
  @include drawBorder($right: "true", $bcolor: $borderDarkMode);
  @include expand();
  @media (max-width: 768px) {
    position: absolute;
    left: 40px;
    z-index: 1;
    background: $bgDarkMode;
    @include drawBorder($bottom: "true", $bcolor: $borderDarkMode);
    @include expandOnMobile();
    width: 200px;
    min-width: 200px;
  }
  @media (max-width: 640px) {
    position: relative;
    width: 100%;
    min-width: 100%;
    @include expandOnSmall();
    background: $bgDarkMode;
    left: 0;
    border-right: 0px;
    border-bottom: 0px;
  }
}
.folder-collaspe {
  @include collapse();
  @media (max-width: 768px) {
    position: absolute;
    left: 40px;
    z-index: 1;
    background: $bgDarkMode;
  }
  @media (max-width: 640px) {
    background: $bgDarkMode;
  }
}
.collapse-floder {
  @include collapse();
}
.title {
  text-align: center;
  padding: 0.4rem 0;
  @include drawBorder($bottom: "true", $bcolor: $borderDarkMode);
  width: 100%;
  @media (max-width: 640px) {
    @include drawBorder($top: "true", $bcolor: $borderDarkMode);
  }
}
.folder-wrap {
  padding: 1rem;
  height: 90vh;
  overflow-y: scroll;
  @media (max-width: 640px) {
    overflow-x: scroll;
    scrollbar-width: none;
  }
}

.folder-structure {
  background-color: transparent;
  color: $textDarkMode;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;

  & .ant-tree-node-content-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .ant-tree-treenode-selected .ant-tree-node-content-wrapper {
    background-color: #61616148;
    color: white;
  }
}
