@import "../../variables";
@import "../../mixin";

.folder-structure-wrap {
  width: 100%;
  min-width: 100%;
}
.folder-structure-wrap1 {
  width: 20%;
  min-width: 20%;
  @include drawBorder($right: "true", $bcolor: $borderDarkMode);
}
.folder-expand {
  width: 20%;
  min-width: 20%;
  @include drawBorder($right: "true", $bcolor: $borderDarkMode);
  @include expand();
}
.folder-collaspe {
  @include collapse();
}
.collapse-floder {
  @include collapse();
}
.title {
  text-align: center;
  padding: 0.4rem 0;
  @include drawBorder($bottom: "true", $bcolor: $borderDarkMode);
}
.folder-wrap {
  padding: 1rem;
}

.folder-structure {
  background-color: transparent;
  color: $textDarkMode;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;

  & .ant-tree-node-content-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .ant-tree-treenode-selected .ant-tree-node-content-wrapper {
    background-color: #61616148;
    color: white;
  }
}
